<h4 class="blog-post-title">My Results</h4>
<hr/>

<div class="panel panel-primary">
	<div class="panel-heading">
		View Your Exam Results
	</div>
	<!-- /.panel-heading -->
    <table datatable="ng" class="row-border hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Exam Name</th>
            <th>Score</th>
            <th>Date</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="result in results" ng-click="open(result.ex_tk_id);">
            <td>{{$index + 1}}</td>
            <td>{{ result.exam_name }}</td>
            <td>{{ result.score }}</td>
            <td>{{ result.ts }}</td>
            <td>
			 <a role="button" class="btn" ng-class="{1:'btn-success', 0:'btn-danger'}[result.completed]" >{{result.completed == 0 ? "InComplete" : "Completed"}}</a></td>
        </tr>
        </tbody>
    </table>


</div>