<h4 class="blog-post-title">{{exam_title}}</h4>
<hr/>
<div class="table-responsive">
<div class="panel panel-primary">
  <div class="panel-heading">List of questions
      <div class="sw-search" >
            <div ng-show="showviewresult" class="nav-search" id="nav-search">
                    Filter: <span class="input-icon">
                        <input placeholder="Search Questions" class="nav-search-input" ng-model="filterQuestion" ng-change="resetLimit();"  autocomplete="off" type="text" style="width:300px;" focus>
                        <i class="search-icon fa fa-search nav-search-icon"></i>
                    </span>
            </div>
        </div>
    </div>
  <div class="panel-body">
	<div ng-hide="showviewresult" class="alert alert-warning">
                               {{message}}
     </div>
    <table ng-show="showviewresult" class="table table-striped">
    <tr ng-show="questions.length==0"><td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;No data found</td></tr>
    <tr ng-hide="questions.length>-1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Loading</td></tr>
    
    <tr><th ng-repeat="c in columns">{{c.text}}</th></tr>

    <tr ng-repeat="c in questions | filter:filterQuestion | orderBy:'-ques_id'" id="{{c.ques_id}}" animate-on-change='c.question' ng-animate=" 'animate'" ng-click="open(c);"  >
        <td>{{$index + 1}}</td><td>{{c.question}}</td>
        <td>
            <a role="button" class="btn" ng-class="{1:'btn-success', 0:'btn-danger'}[c.status]" >{{c.status == 0 ? "Not Answered" : "Completed"}}</a>
        </td>
       
    </tr>
    </table>
	<button ng-show="showviewresult" type="button" class="btn btn-primary fa fa-save" ng-really-message="Submitting Exam?" ng-really-click="completeExam();"  > Submit Answer</button>
</div>
</div>
</div>
              